<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Highlands_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-G3KQ7AL\SQLEXPRESS;Initial Catalog=Highlands_Database;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CoffeeBrandManagementConnectionString"
            connectionString="Data Source=bbiChanHuy;Initial Catalog=CoffeeBrandManagement;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>